@charset "UTF-8";
@font-face {
  font-family: "BigNoodleTitlingCyr";
  src: url(../fonts/BigNoodleTitlingCyr.ttf);
}
.gallery_box .gllr_image_block {
  padding: 0 15px;
  margin-bottom: 15px;
}
body {
  position: relative;
  color: #fff;
  background-color: rgba(0, 0, 0, 1);
}

a:hover,
a:focus {
  color: #fff;
  text-decoration: none;
}
:focus{
  outline: none;
}
.page-container {
  min-height: 100vh;
  padding-bottom: 40px;
  background-image: url("../img/main_bg.png");
  background-size: 100% 100%;
  background-attachment: fixed;
}

.single-format-standard .page-container,
.page-template-page-news-php .page-container {
    background-image: url(../img/main_bg.png);
}

.page-template-gallery-template-php .page-container {
  background-image: url("../img/gallery_bg.png");
}

.page-template-page-group-php .page-container {
  background-image: url("../img/group_bg.png");
}

.page-template-page-discography-php .page-container {
  background-image: url("../img/discography_bg.png");
}

.page-template-page-contact-php .page-container {
  background-image: url("../img/contact_bg.png");
}
.header {
    padding: 15px 0;
}
.menu-wrap ul {
  font-family: "BigNoodleTitlingCyr";
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0;
  width: 100%;
  padding: 0;
}

.menu-wrap ul li.current_page_item a,
.menu-wrap ul li a:hover {
  color: #B09048;
}

.menu-wrap ul li {
  text-align: center;
}

.menu-wrap ul li a {
  color: #fff;
  font-size: 20px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  font-style: normal;
  padding: 0 15px;
  border-right: 1px solid #fff;
  transition: all .25s;
}

.menu-wrap ul li a.active {
  color: #B09048;
}

.menu-wrap ul li:last-child a {
  border-right: none;
}

.input-wrapper {
  position: relative;
}

.input-wrapper .search-icon {
  position: absolute;
  right: 5px;
  top: 4px;
  color: #fff;
}

.search-form__input {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  color: #fff;
  width: 100%;
    padding: 0 25px 0 10px;
    font-family: "BigNoodleTitlingCyr";
    letter-spacing: 2px;
    font-size: 18px;
}

.search-form__input::-webkit-input-placeholder {
  text-transform: uppercase;
  color: #fff;
}

.search-form__input:-ms-input-placeholder {
  text-transform: uppercase;
  color: #fff;
}

.search-form__input::-ms-input-placeholder {
  text-transform: uppercase;
  color: #fff;
}

.search-form__input::placeholder {
  text-transform: uppercase;
  color: #fff;
}

.player {
  text-align: right;
}

.player a .fa {
  color: #fff;
  display: inline-block;
}

.player .fa.hidden {
  display: none;
}

.language {
  position: relative;
  font-family: "BigNoodleTitlingCyr";
  cursor: pointer;
    text-align: right;
}

.language .language-current,
.language a {
  letter-spacing: 1px;
  font-size: 20px;
  color: #fff;
  display: block;
}

.language ul {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 30px;
  right: 15px;
}
.audio-control{
    font-size: 18px;
}
.language ul li {
  display: none;
}

.lang-item {
  display: inline;
  list-style: none;
}

.content-wrapper {
  background-color: rgba(20, 20, 20, 0.7);
  padding: 20px;
}
.head-page-post__desc {
  color: #fff;
}

.head-page-post .wp-post-image {
  max-width: 100%;
  height: auto;
}

.related-posts-list {
  margin-top: 25px;
}

.related-post-item__title {
  margin-top: 15px;
  margin-bottom: 0;
  color: #fff;
}

.related-post-item img {
  max-width: 100%;
  height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
  opacity: 1;
  display: block;
  width: 100%;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.related-post-item__link:hover {
  text-decoration: none;
}

.social-sidebar-wrapper {
  max-height: 40px;
}

.social-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 5px 10px;
  position: fixed;
  z-index: 3;
  bottom: 15px;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social-sidebar__item,
.social-sidebar .close-social-sidebar {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social-sidebar__item .fa,
.social-sidebar .close-social-sidebar .fa {
  color: #000;
}

.social-sidebar__item:active,
.social-sidebar__item:visited,
.social-sidebar__item:focus,
.social-sidebar .close-social-sidebar:active,
.social-sidebar .close-social-sidebar:visited,
.social-sidebar .close-social-sidebar:focus {
  text-decoration: none;
}

.social-sidebar__item:hover,
.social-sidebar .close-social-sidebar:hover {
  text-decoration: none;
  color: #000;
  background-color: #fff;
}

.social-sidebar .close-social-sidebar {
  cursor: pointer;
}

.social-sidebar .close-social-sidebar .fa-bars {
  display: none;
}

.social-sidebar .close-social-sidebar.closed .fa-times {
  display: none;
}

.social-sidebar .close-social-sidebar.closed .fa-bars {
  display: block;
}

.open-menu-btn.active {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.menu-btn-wrap {
  text-align: right;
}

.open-menu-btn {
  text-align: right;
  -webkit-transition: .6s;
  transition: .6s;
  display: none;
  cursor: pointer;
}

.open-menu-btn .fa {
  color: #fff;
}

.custom-logo {
  max-width: 100%;
  height: auto;
}

.custom-logo-link {
  width: 100%;
  display: block;
}

.closeMobileMenu {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  float: right;
  padding: 10px;
  font-weight: bold;
}

.mobileMenuWrap {
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  left: -100%;
  /* ховаємо меню */
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 3;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-transition: .8s;
  transition: .8s;
}

.mobileMenuWrap-showed {
  left: 0 !important;
}

.mobileMenuWrap ul {
  font-family: "BigNoodleTitlingCyr";
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  list-style: none;
  margin: 0;
  padding: 0;
}

.mobileMenuWrap ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  line-height: 60px;
  padding: 3px 0 3px 20px;
}

.mobileMenuWrap ul li.current_page_item a {
  color: #B09048;
}

.mobileMenuWrap ul a {
  color: #fff;
  font-size: 22px;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  letter-spacing: 2px;
}

.news-item {
  padding-bottom: 40px;
  border-bottom: 1px solid lightgrey;
  margin-top: 25px;
}

.news-item__link {
  display: block;
  margin-top: 10px;
}

.news-item__excerpt {
  margin-top: 15px;
}

.news-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}

.post-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}

.post-title {
  color: #B09048;
  margin-bottom: 0;
  display: inline-block;
}

.post-content {
  margin-top: 15px;
}

.image-border {
  position: relative;
  z-index: 2;
}

.image-border:after {
  content: '';
  display: block;
  width: 100%;
  border: 1px solid lightgrey;
  position: absolute;
  left: 10px;
  right: -10px;
  top: -10px;
  bottom: 10px;
  z-index: -1;
}

.post-date {
  color: #C1C1C1;
  font-family: "BigNoodleTitlingCyr";
  font-size: 16px;
  letter-spacing: 1px;
}

.title-wrap {
  display: inline-block;
  border-bottom: 1px solid lightgrey;
}

.title-wrap--gray {
  border-bottom: 1px solid gray;
}

.title-wrap--center {
  display: block;
  text-align: center;
}

.read-more {
  color: #C1C1C1;
  font-family: "BigNoodleTitlingCyr";
  font-size: 22px;
  letter-spacing: 1px;
  margin-top: 10px;
  display: inline-block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.read-more .fa {
  margin-left: 5px;
}

body.admin-bar .mobileMenuWrap {
  top: 45px;
}

.front-page {
  background-color: #000;
  min-height: 100vh;
  padding-top: 10vh;
}

.front-page__title {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 2.6vh;
  font-size: 4rem;
}

.group-image {
  display: block;
    margin: 0 0 50px;
  width: 100%;
  height: auto;
}

.discography-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.discography-list__item {
  margin-bottom: 15px;
  cursor: pointer;
}

.discography-list__item:hover img {
  -webkit-filter: grayscale(0) !important;
  filter: grayscale(0) !important;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.discography-list__item:not(.active) img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.discography-list__item img {
  display: block;
  max-width: 100%;
  height: auto;
}

.discography-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.discography-active img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.discography-active__title {
  color: #B09048;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 5px;
}

.img-container {
  position: relative;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.read-more-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  visibility: hidden;
  top: 0;
  opacity: 0;
  bottom: 0;
  -webkit-transition: visibility 0.1s, opacity 0.3s linear;
  transition: visibility 0.1s, opacity 0.3s linear;
  left: 0;
  right: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
}

.read-more-wrapper .text {
  background-color: transparent;
  border: 1px solid #B09048;
  color: white;
  font-size: 40px;
  text-transform: uppercase;
  font-family: "BigNoodleTitlingCyr";
  padding: 0 25px;
}

.related-post-item:hover .read-more-wrapper {
  visibility: visible;
  opacity: 1;
}

.related-post-item:hover .related-post-item__title {
  color: #B09048;
}

.group-title-wrap {
  padding-bottom: 15px;
}

.discography-title {
  display: block;
}

.active-item {
  display: none;
}

.active-item.active {
  display: block;
  width: 100%;
}

.track-list {
  margin-top: 15px;
  padding: 0 0 0 15px;
}

.composition {
  cursor: pointer;
}

.composition:hover {
  text-decoration: underline;
}

.composition.playing .composition-name {
  color: #B09048;
}

.composition-name {
  margin-bottom: 5px;
}

.composition-detail-btn {
  display: inline-block;
  padding: 10px 20px;
  background: transparent;
  color: #B09048;
  text-transform: uppercase;
  border: 2px solid lightgrey;
  margin-top: 15px;
  cursor: pointer;
  font-family: "BigNoodleTitlingCyr";
  font-size: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  letter-spacing: 1px;
}

.composition-detail {
  display: none;
  margin-top: 15px;
}

.composition-detail.showed {
  display: block;
}

.page-template-page-contact-php .post-title {
  padding-bottom: 15px;
}

.info {
  margin-top: 15px;
}

.contact-info {
  text-align: center;
  margin: 5px 0 0 0;
}

.social-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 40px;
}

.social-info__item {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 25px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: rgba(255, 255, 255, 0.5);
  color: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social-info__item:last-child {
  margin-right: 0;
}

.social-info__item .fa {
  color: #000;
}

.social-info__item:active,
.social-info__item:visited,
.social-info__item:focus {
  text-decoration: none;
}

.social-info__item:hover {
  text-decoration: none;
  color: #000;
  background-color: #fff;
}

.page-template-page-contact-php .title-wrap {
  margin-top: 40px;
}

.riders-title {
  margin-top: 40px;
}

.riders {
  margin-top: 15px;
}

.riders__subtitle {
  text-align: center;
    margin-bottom: 25px;
}

.riders .buttons_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.riders__button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: rgba(255, 255, 255, 0.5);
  color: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.riders__button:last-child {
  margin-right: 0;
}

.riders__button .fa {
  color: #000;
}

.riders__button:active,
.riders__button:visited,
.riders__button:focus {
  text-decoration: none;
}

.riders__button:hover {
  text-decoration: none;
  color: #000;
  background-color: #fff;
}

.partners-wrapper {
  margin-top: 15px;
}

.search_empty {
  text-align: center;
  margin-top: 10%;
}

.image-in-content {
  display: block;
  width: 40%;
  float: left;
  margin: 15px 40px 15px 0;
}

.post-title--mb {
  padding-bottom: 15px;
}

.mobile-header {
  display: none;
  padding: 10px 0;
}

.mobile-header .player {
  text-align: center;
}

.mobile-header .language {
  text-align: center;
}

.gl_post-title {
    font-size: 26px;
    height: 50px;
  text-align: center;
  font-family: "BigNoodleTitlingCyr";
}

.gallery {
  margin: 15px 0;
  border-bottom: 1px solid gray;
}

.gallery:first-child {
  margin-top: 0;
}

.gallery:last-child {
  border-bottom: none;
}
.gallery_box li {
    margin: 0 0 20px 40px !important;
}
#to-top{
    position: fixed;
    bottom: 80px;
    right: 15px;
    color: #fff;
    font-size: 50px;
    line-height: 50px;
    background: rgba(152, 161, 169, 0.5);
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    border: none;
    -webkit-transition: all 2s;
    transition: all 2s;
    opacity: 0;
}
#to-top i{
    position: relative;
    top: -4px;
}
#to-top:focus{
    outline: none;
}
@media(min-width: 1200px){
  .search-form{
    max-width: 22.66667% !important;
    -ms-flex: 0 0 22.66667% !important;
    flex: 0 0 22.66667% !important;
  }
  .player,
  .language{
    max-width: 5.33333% !important;
    -ms-flex: 0 0 5.33333% !important;
    flex: 0 0 5.33333% !important;
  }
}

@media (min-width: 992px) {
  .open-menu-btn {
    display: none;
  }
    .years_wrap {
      position: fixed;
    }
    .gallery_box li.active a{
        color: #B09048;
        font-size: 46px;
        margin-left: -15px;
    }
  .gallery {
      min-height: 345px;
  }
}

@media (max-width: 410px) {
  .social-sidebar .close-social-sidebar {
    margin-left: 10px;
  }

  .social-sidebar__item,
  .social-sidebar .close-social-sidebar {
    margin-right: 0;
    width: 30px;
    height: 30px;
  }

  .social-sidebar-wrapper {
    max-height: 30px;
  }

  .image-in-content {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .search-form {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  #wpadminbar{
    display: none;
  }
  .news-item .title-wrap {
    margin-top: 10px;
  }
    .language .language-current, .language a {
        font-size: 30px;
    }
  .head-page-post .wp-post-image {
    display: block;
    margin: 0 auto;
  }

  .search-form__input {
    padding: 5px 15px 5px 5px;
  }

  .input-wrapper .search-icon {
    top: 8px;
  }
  .years_wrap,
  .gl__post-image-wrap{
    max-width: 100%;
    flex: 0 0 100%;
  }
    .gallery_box li {
        margin: 0 0 20px 0 !important;
        text-align: center;
    }
    .gallery .gllr_image_block {
        width: 50% !important;
    }
    .gallery_box li {
        margin: 0 0 20px 0 !important;
        width: 25%;
        float: left;
    }
    .page-template-gallery-template-php .page-container {
        background-size: auto;
    }
    .related-posts-list .row > div{
        margin-bottom: 40px;
    }
    .front-page .col-5{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 991px) {
  .header {
    display: none;
  }
.gallery .gllr_image_block {
    width: 25%;
}
  .mobile-header {
    display: block;
  }

  .open-menu-btn {
    display: inline-block;
  }

  .discography-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .discography-list__item {
    margin-right: 15px;
  }

  .discography-list__item:last-child {
    margin-right: 0;
  }
}

.discography-active .active-item .row > div:first-child{
    margin-top: 10px;
}
body{
    display: none;
}
.gl__post-image-wrap{
    margin-left: auto;
}
.gl_post-title span{
    cursor: pointer;
}

.gallery_box li a{
    color: #fff;
}

.gallery_box {
    padding-top: 15px;
}

